

.livroesinopse {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    margin: 3cm;
    padding: 1cm;
    background-color: antiquewhite;
    font-size: small;

   
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.direitos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato {
    display:flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: xx-large;
}

