main {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

header {
    justify-content: center;
    text-align: center;
    
}

.livro1 {
    margin: 5cm;
}

